@import "src/styles/variables.module";
@import "src/styles/mixins.module";

.sportsPanelContainer {
  width: 100%;
  padding: $spacing-m $spacing-l;
  background-color: $background-light-color;
  color: $text-secondary;
  border-radius: $radius-s;
  box-sizing: border-box;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $spacing-s 0 $spacing-l;

    .header {
      @include header-text($xl-font);

      @media (max-width: $xs) {
        display: none;
      }
    }

    .modeTabsContainer {
      display: flex;
      justify-content: center;
      gap: $spacing-xl;
      margin-left: auto;

      @media (max-width: $xs) {
        gap: $spacing-m;
      }

      .tab {
        @include glow-transition;

        &:hover {
          color: $success-light-color;
          @include glow($success-main-color, 15%);
        }

        &.highlighted {
          color: $success-light-color;
          @include glow($success-main-color, 15%);
        }
      }
    }
  }
}

