@import "src/styles/variables.module";

.button {
  border-radius: $radius-s;
  padding: $spacing-m $spacing-l;
  font-weight: 900;
  font-size: $xl-font;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.2s;

  &.main {
    background-color: $primary-main-color;
    color: $text-primary;

    &:hover {
      background-color: $primary-dark-color;
    }
  }
}