@import "src/styles/variables.module";

.sportEditPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-l;
  margin-top: $spacing-xl;

  .inputRow {
    width: 100%;
    max-width: 400px;
    margin: $spacing-m auto 0;

    :last-child {
      margin: 0 auto;
    }

    .inputMessage {
      margin: $spacing-s 0 $spacing-l;
      font-size: $s-font;

      &.error {
        color: $error-main-color;
      }
    }
  }

  .info {
    font-size: $s-font;

    b {
      font-weight: 700;
    }
  }
}