@import "src/styles/variables.module";
@import "src/styles/mixins.module";

.eventItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $spacing-l;
  background-color: $background-light-color;
  color: $text-secondary;
  font-size: $s-font;
  border-radius: $radius-s;
  box-sizing: border-box;
  transition: transform 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(98%);
  }

  .description {
    margin: $spacing-l 0;
    opacity: 0.75;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-s $spacing-xl;
    opacity: 0.75;

    .detailsRow {
      display: flex;
      gap: $spacing-xl;

      .icon {
        margin-right: $spacing-s;
        color: $secondary-light-color;
      }
    }
  }

  .topLine {
    display: flex;
    justify-content: space-between;

    .lastUpdated {
      font-size: $xs-font;
      opacity: 0.5;
    }

    .availability {
      display: flex;
      align-items: center;
      gap: $spacing-m;

      :not(.availabilityDot) {
        opacity: 0.5;
      }

      .availabilityDot {
        width: 10px;
        height: 10px;
        border-radius: $radius-xxl;

        &.available {
          background-color: $success-main-color;
          @include glow($success-main-color, 50%);
        }

        &:not(.available) {
          background-color: $error-main-color;
          @include glow($error-main-color, 50%);
        }
      }
    }
  }
}