@import "src/styles/variables.module";

.textArea {
  width: 100%;
  min-height: 100px;
  padding: $spacing-l;
  border: thin solid $primary-dark-color;
  border-radius: $radius-s $radius-s 0;
  box-sizing: border-box;
  resize: vertical;

  &.secondary {
    background-color: rgba($primary-main-color, 0.1);
    color: $text-secondary;
  }

  &.main {
    background-color: $primary-main-color;
    color: $text-primary;
  }
}