@import "src/styles/variables.module";

@mixin variant($color, $bg-color, $hover-bg-color) {
  background-color: $bg-color;
  color: $color;

  &:hover {
    background-color: $hover-bg-color;
  }
}

.button {
  font-family: inherit;
  width: fit-content;
  display: flex;
  gap: $spacing-s;
  padding: $spacing-m $spacing-l;
  font-weight: 900;
  border-radius: $radius-s;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;

  &.main {
    @include variant($text-primary, $primary-main-color, $primary-dark-color);
  }

  &.secondary {
    @include variant($text-secondary, $background-main-color, $background-dark-color);
  }

  &.success {
    @include variant($text-secondary, $success-main-color, $success-dark-color);
  }

  &.error {
    @include variant($text-secondary, $error-main-color, $error-dark-color);
  }

  &.plain {
    padding: $spacing-s;
    border-radius: 0;
    font-weight: 900;
  }
}