@import "src/styles/variables.module";
@import "src/styles/mixins.module";

.sportTile {
  padding: $spacing-m $spacing-l;
  background-color: $background-dark-color;
  color: $text-secondary;
  border-radius: $radius-xs;
  font-size: $s-font;
  font-weight: 750;
  cursor: pointer;
  opacity: 0.3;
  box-sizing: border-box;
  transition: 0.2s;
  @include glow-transition;

  &:hover {
    opacity: 1;
    background-color: $background-dark-color;
    @include glow($info-light-color, -10%);
  }

  &.highlighted {
    background-color: $background-dark-color;
    opacity: 1;

    @include glow($info-light-color, 0);
  }
}