$text-primary: #171717;
$text-secondary: #eee;
$highlight-color: #888;

$primary-main-color: #eee;
$primary-light-color: lighten($primary-main-color, 15%);
$primary-dark-color: darken($primary-main-color, 15%);

$background-main-color: #171717;
$background-light-color: lighten($background-main-color, 10%);
$background-dark-color: darken($background-main-color, 10%);

$secondary-main-color: #ff4400;
$secondary-light-color: lighten($secondary-main-color, 15%);
$secondary-dark-color: darken($secondary-main-color, 15%);

$success-main-color: #2ec4b6;
$success-light-color: lighten($success-main-color, 15%);
$success-dark-color: darken($success-main-color, 15%);

$error-main-color: #e5383b;
$error-light-color: lighten($error-main-color, 15%);
$error-dark-color: darken($error-main-color, 15%);

$warning-main-color: #ffc43d;
$warning-light-color: lighten($warning-main-color, 15%);
$warning-dark-color: lighten($warning-main-color, 15%);

$info-main-color: #4361ee;
$info-light-color: lighten($info-main-color, 15%);
$info-dark-color: darken($info-main-color, 15%);

$xxs-font: 0.625rem;
$xs-font: 0.75rem;
$s-font: 0.875rem;
$m-font: 1rem;
$l-font: 1.125rem;
$xl-font: 1.25rem;
$xxl-font: 1.75rem;
$xxxl-font: 4.5rem;
$logo-font: 2.5rem;

$spacing-s: 5px;
$spacing-m: 10px;
$spacing-l: 15px;
$spacing-xl: 25px;
$spacing-xxl: 40px;
$spacing-xxxl: 70px;

$round: 100%;
$radius-xxl: 50px;
$radius-xl: 40px;
$radius-l: 30px;
$radius-m: 20px;
$radius-s: 15px;
$radius-xs: 10px;

$index-top: 1000;

$xs: 600px;
$sm: 800px;
$md: 1000px;
$lg: 1200px;

$light-shadow: 0 8px 5px 3px rgba($background-main-color, 0.1);
