$primary-main-color: #eee;
$primary-light-color: #fff;
$primary-dark-color: #d3d3d3;

$background-light-color: #272727;
$background-main-color: #171717;
$background-dark-color: #0c0c0c;

$secondary-main-color: #ff4400;
$secondary-light-color: #ff9541;
$secondary-dark-color: #ff7300;

$text-primary: #171717;
$text-secondary: #eee;
$highlight-color: #888;

$success-main-color: #2ec4b6;
$success-light-color: #50f1e2;
$success-dark-color: #21aea1;

$error-main-color: #e5383b;
$error-light-color: #fd5b5e;
$error-dark-color: #c82528;

$warning-main-color: #ffc43d;
$warning-light-color: #fbcd64;
$warning-dark-color: #e1a417;

$info-main-color: #4361ee;
$info-light-color: #607af6;
$info-dark-color: #2645d3;

$xxs-font: 0.625rem;
$xs-font: 0.75rem;
$s-font: 0.875rem;
$m-font: 1rem;
$l-font: 1.125rem;
$xl-font: 1.25rem;
$xxl-font: 1.75rem;
$xxxl-font: 4.5rem;
$logo-font: 2.5rem;

$spacing-s: 5px;
$spacing-m: 10px;
$spacing-l: 15px;
$spacing-xl: 25px;
$spacing-xxl: 40px;
$spacing-xxxl: 70px;

$index-top: 1000;

$xs: 600px;
$sm: 800px;
$md: 1000px;
$lg: 1200px;