@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

.pageNavbar {
  position: sticky;
  top: 0;
  z-index: $index-top;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-m;
  padding: $spacing-xl $spacing-xxl;
  margin: $spacing-m auto;
  background: $primary-main-color;
  box-shadow: $light-shadow;
  border-radius: $radius-xxl;
  transition: transform 0.3s;
  box-sizing: border-box;

  @include dynamic-width;
  width: calc(100% - 2 * #{$spacing-m});

  &.collapsed {
    transform: translateY(-500%);
  }

  .logo {
    color: $text-primary;
    word-break: break-all;
    text-transform: uppercase;
    font-size: $logo-font;
    font-weight: 900;
    cursor: pointer;
  }

  .toggleNavigationVisibilityButton {
    display: none;

    @media (max-width: $lg) {
      display: block;
    }
  }

  .tabsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-xl;

    @media (max-width: $lg) {
      position: absolute;
      left: 0;
      top: calc(100% + #{$spacing-m});
      width: 100%;
      flex-direction: column;
      background: $primary-main-color;
      padding: $spacing-m $spacing-l;
      border-radius: $radius-m;
      box-shadow: $light-shadow;
      box-sizing: border-box;

      &.hidden {
        transform: translateY(-500px);
      }
    }

    .tab {
      color: $text-primary;
      padding: $spacing-m;
      font-size: $s-font;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 5px solid transparent;
      cursor: pointer;
      transition: border-bottom-color 0.2s;

      &:hover {
        border-bottom-color: $secondary-light-color;
      }
    }
  }
}