@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

.pageNavbar {
  position: sticky;
  top: 0;
  z-index: $index-top;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-m;
  padding: $spacing-xl $spacing-xxl;
  margin: 0 auto $spacing-m;
  background: $background-main-color;
  overflow: hidden;
  box-shadow: $light-shadow;
  transition: transform 0.3s;
  box-sizing: border-box;
  width: 100%;

  @media (max-width: $lg) {
    flex-direction: column;
  }

  &.collapsed {
    transform: translateY(-500%);
  }

  .logo {
    color: $text-secondary;
    word-break: break-all;
    text-transform: uppercase;
    font-size: $logo-font;
    font-weight: 900;
    cursor: pointer;
  }

  .toggleNavigationVisibilityButton {
    display: none;
    position: absolute;
    right: $spacing-xl;
    top: $spacing-xl;

    @media (max-width: $lg) {
      display: block;
    }
  }

  .tabsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-xl;

    @media (max-width: $lg) {
      flex-direction: column;
      background: $background-main-color;
      padding: $spacing-m $spacing-l;
      box-shadow: $light-shadow;
      box-sizing: border-box;

      &.hidden {
        display: none;
      }
    }

    .tab {
      color: $text-secondary;
      padding: $spacing-m;
      font-size: $s-font;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      transition: color 0.2s;
      width: fit-content;

      @include glow-transition;

      &:hover {
        @include glow($secondary-light-color, 10%);
        color: $secondary-light-color;
      }

      &.highlighted {
        @include glow($secondary-main-color, 10%);
        color: $secondary-light-color;
      }
    }
  }
}