@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

.messageBox {
  position: relative;
  overflow: hidden;
  width: fit-content;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-m;
  padding: $spacing-xxl;
  margin: $spacing-m;
  background-color: $background-light-color;
  color: $text-secondary;
  border-radius: $radius-s;
  text-align: center;
  box-sizing: border-box;

  .header {
    @include header-text($xxl-font);
  }

  &.success {
    @include bottom-border-glow($success-dark-color, $spacing-l);
  }

  &.error {
    @include bottom-border-glow($error-dark-color, $spacing-l);
  }

  &.info {
    @include bottom-border-glow($info-dark-color, $spacing-l);
  }

  &.warning {
    @include bottom-border-glow($warning-dark-color, $spacing-l);
  }

  .icon {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    font-size: 15rem;
    opacity: 0.15;
    transform: translateY(-50%) translateX(30%);
  }

  .button {
    position: relative;
    z-index: 10;
    margin-top: $spacing-xl;
  }
}