@import "src/styles/variables.module";
@import "src/styles/mixins.module";

.errorMessage {
  background-color: $background-light-color;
  padding: $spacing-xxl;
  box-sizing: border-box;
  margin: $spacing-m;
  border-radius: $radius-l;
  color: $text-secondary;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-m;
  width: fit-content;
  max-width: 500px;
  text-align: center;

  .header {
    @include header-text($xxl-font);
  }

  .icon {
    font-size: 15rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(30%);
    opacity: 0.15;
  }

  .goBackButton {
    margin-top: $spacing-xl;
  }
}