@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

.tileContainer {
  position: relative;
  padding: $spacing-xxl $spacing-xl $spacing-xxl 20%;
  background-color: $background-light-color;
  color: $text-secondary;
  border-radius: $radius-xxl;
  text-align: right;
  box-sizing: border-box;

  .step {
    position: absolute;
    top: 0;
    left: 0;
    height: $xxl-font;
    aspect-ratio: 1;
    background-color: $background-main-color;
    padding: $spacing-l;
    transform: translateY(-25%) translateX(-25%);
    border-radius: $round;
    @include header-text($xxl-font);
    text-align: center;
  }

  &:hover {
    .header, .icon {
      color: $secondary-main-color;
      opacity: 1;
    }
  }

  .header {
    @include header-text($xl-font);
    margin-top: $spacing-m;

    @media (min-width: $lg) {
      @include header-text($xxl-font);
    }
  }

  .description {
    font-size: $s-font;
    margin-top: $spacing-s;
    box-sizing: border-box;
  }

  .icon {
    height: $xxxl-font;
    margin-left: auto;
    opacity: 0.25;
  }

  .icon, .header {
    transition: color 0.3s, opacity 0.3s;
  }
}