@import "src/styles/variables.module";

.locationPicker {
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: $radius-s;
  overflow: hidden;

  .locateButton {
    position: absolute;
    left: 50%;
    bottom: $spacing-m;
    z-index: 100;
    background-color: rgba($background-main-color, 0.75);
    color: $text-secondary;
    transform: translateX(-50%);
  }

  .map {
    width: 100%;
    height: 100%;
  }
}