@import "src/styles/variables.module";
@import "src/styles/mixins.module";

.addEventBanner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-m;
  padding: $spacing-l $spacing-xxl;
  background-color: $background-light-color;
  color: $text-secondary;
  border-radius: $radius-s;
  box-sizing: border-box;
  @include bottom-border-glow($background-main-color, $spacing-l);
  overflow: hidden;

  .header {
    font-weight: 700;
  }
}