@import "src/styles/variables.module";
@import "src/styles/mixins.module";

.footerContainer {
  width: 100%;
  padding: $spacing-xxl;
  margin-top: $spacing-xxl;
  background-color: $background-light-color;
  color: $text-secondary;
  box-sizing: border-box;

  .author {
    color: inherit;
    font-weight: 900;
    opacity: 0.5;

    :not(&:hover) {
      text-decoration: none;
    }
  }
}