@import "src/styles/variables.module";

.alertContainer {
  width: fit-content;
  padding: $spacing-m $spacing-l;
  margin: $spacing-m auto;
  color: $text-secondary;
  border-radius: $radius-s;
  font-size: $s-font;

  &.success {
    background: $success-main-color;
  }

  &.error {
    background: $error-main-color;
  }

  &.info {
    background: $info-main-color;
  }

  &.warning {
    background: $warning-main-color;
  }
}