@import "src/styles/variables.module";

.alertContainer {
  padding: $spacing-m $spacing-l;
  border-radius: $radius-s;
  color: $text-secondary;
  font-size: $s-font;
  margin: $spacing-m;

  &.success {
    background: $success-dark-color;
  }

  &.error {
    background: $error-dark-color;
  }

  &.info {
    background: $info-dark-color;
  }

  &.warning {
    background: $warning-dark-color;
  }
}