@import "src/styles/variables.module";
@import "src/styles/mixins.module";

.alertContainer {
  width: fit-content;
  padding: $spacing-m $spacing-l;
  margin: $spacing-m auto;
  color: $text-secondary;
  font-size: $s-font;
  border-radius: $radius-xs;
  overflow: hidden;

  &.success {
    @include bottom-border-glow($success-main-color, $spacing-l);
  }

  &.error {
    @include bottom-border-glow($error-main-color, $spacing-l);
  }

  &.info {
    @include bottom-border-glow($info-main-color, $spacing-l);
  }

  &.warning {
    @include bottom-border-glow($warning-main-color, $spacing-l);
  }
}