@import "src/styles/variables.module";

.authFormContainer {
  width: 90%;
  max-width: 500px;
  padding: $spacing-xxl $spacing-xxl $spacing-l;
  background-color: $primary-light-color;
  border-radius: $radius-xl;
  box-sizing: border-box;

  .buttonsContainer {
    width: 100% ;
    display: flex;
    margin-top: $spacing-m;
    justify-content: space-around;
  }

  .authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-m;

    .inputContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $spacing-s;

      .inputName {
        width: 100%;
        margin-left: $spacing-s;
        font-size: $s-font;
        font-weight: 700;
      }

      .inputMessage {
        margin-left: $spacing-s;
        margin-bottom: $spacing-l;
        font-size: $xs-font;
        text-align: justify;
        opacity: 0.75;

        &.error {
          color: $error-main-color;
        }
      }
    }

    .navigationLink {
      margin-bottom: $spacing-m;
      color: $text-primary;
      font-size: $s-font;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}