@import "../../../../styles/variables.module";
@import "../../../../styles/mixins.module";

.heartMonitor {
  background-color: $background-main-color;
  width: 300px;
  height: 70px;
  border-radius: $radius-s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-main-color;
  gap: $spacing-m;
  padding: 0 $spacing-l;
  box-sizing: border-box;

  .heartbeatIcon {
    height: $l-font;
  }

  .heartbeatRate {
    text-align: right;
    width: 75px;
    font-size: $m-font;
    font-weight: 900;
  }

  .chartContainer {
    padding: $spacing-s;
    box-sizing: border-box;
    height: 80%;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: $spacing-s;

    .dash {
      border-radius: $radius-xxl;
      flex-grow: 1;
      min-height: 10%;
      width: 100%;
      background-color: $primary-main-color;
      transition: height 0.5s;
    }
  }
}